<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<nav>
<a href= "/">HOME</a>
<a href= "/now-playing">NOW PLAYING</a>
</nav>

<H1> Popular Movies</H1>

<div th:each="movie: ${movies}" >
    <img width="150px" th:src="'http://image.tmdb.org/t/p/original' + ${movie.posterPath} "/>
    <span th:text="${movie.title}" ></span>
    <span th:text="${movie.popularity}" ></span>
    <span th:text="${movie.overview}" ></span>
</div>
</body>
</html>